body{
    /* background: rgb(59,123,157);
    background: linear-gradient(71deg, rgba(59,123,157,1) 0%, rgba(116,161,185,1) 38%, rgba(208,223,231,1) 76%, rgba(255,255,255,1) 100%); */
    /* background: #356179;
background: linear-gradient(71deg, rgba(53,97,121,1) 0%, rgba(118,148,164,1) 26%, rgba(153,175,187,1) 45%, rgba(190,204,212,1) 67%, rgba(255,255,255,1) 100%); */
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(53,97,121,1) 37%, rgba(190,204,212,1) 68%, rgba(53,97,121,1) 96%);
    animation: backgroundAnimation 35s ease infinite;
    background-size: 300% 300%;
    background-repeat:no-repeat;
    background-position-x:0%;
}
.subHeader{
    text-decoration: underline;
}
.title{
    font-size: 3rem;
    display:block;
    margin-top: -3%;
}
.portTitle{
    font-size: 3rem;
    display:block;
}
.screenShot{
    border-style: solid;
    border-color: #007DC2;
    border-width: 0.04rem;
    border-radius: 0px 15px 0px 15px;
    margin-bottom: -1%;
    margin-right: 1%;
}
.pageBody{
    width: 100%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #007DC2;
    box-shadow: -10px 10px 10px -5px #000000bf;
    background-color: #ffffff;
    padding: 3%;
    border-radius: 0px 15px 0px 15px;
}
.profile-pic{
    margin: 4% 2% 4% 2%;
    float:left;
    max-width: 15rem;
    max-height: auto;
    transform: rotate(270deg);
    background-color: transparent;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #007DC2;
    /* box-shadow: -10px -10px 10px -5px #000000bf; */
}

.indented{
    text-indent: 20px;
}
.paragraph{
    margin-top: -3%;
    width: 100%;
    line-height: 2rem;
}
.spacer{
    padding: 1%;
}
.portPiece{
    
    background-color: #ffffff;
    padding: 2%;
    margin-bottom: 2%;
}
.urlLink{
    font-size: 0.9rem;
    margin-top: -5%;
}
.headerLink{
    text-align: center;
}
.smallBox{
    margin: 1%;
    max-width:3.125em;
    max-height:auto;
}
.smallBox:hover{
    opacity: 0.5;
}
.topButton{
    position: fixed;
    bottom: 0;
    right: 1%;
  }
.headerBox{
    width: 100%;
    padding: 1%;
    background-color: #ffffff;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #007DC2;
    border-radius: 0px 15px 0px 15px;
    margin-bottom: 1%;
}
.slider-0,.slider-1{
    animation: slide-up 0.4s ease;   
}
.slider-2,.slider-3{
    animation: slide-up 0.8s ease;   
}
.slider-4,.slider-5{
    animation: slide-up 1.2s ease;   
}
.slider-6,.slider-7{
    animation: slide-up 1.6s ease;   
}
.slider-8,.slider-9{
    animation: slide-up 2s ease;   
}
.fader-0{
    animation: fadeInLeft 0.25s ease;
}
.fader-1{
    animation: fadeInLeft 0.5s ease;
}
.fader-2{
    animation: fadeInLeft 0.75s ease;
}
.fader-3{
    animation: fadeInLeft 1s ease;
}
.fader-4{
    animation: fadeInLeft 1.25s ease;
}
.fader-5{
    animation: fadeInLeft 1.5s ease;
}
.fader-6{
    animation: fadeInLeft 1.75s ease;
}
.fader-7{
    animation: fadeInLeft 2s ease;
}
.fader-8{
    animation: fadeInLeft 2.25s ease;
}
.fader-9{
    animation: fadeInLeft 2.5s ease;
}
.fader-10{
    animation: fadeInLeft 2.75s ease;
}
.fader-11{
    animation: fadeInLeft 7s ease;
}
.fader-12{
    animation: fadeInLeft 7.5s ease;
}
.fader-13{
    animation: fadeInLeft 8s ease;
}
.fader-14{
    animation: fadeInLeft 8.5s ease;
}

@media (min-width: 320px) and (max-width: 424px){
    .headerBox{
        padding: 2% 1% 1% 1%;
    }
    .siteTitle{
        text-align: center;
    }
    
    .profile-pic{ 
        max-width: 10rem;
        margin-top: 10%;
        margin-bottom: 5%;
        margin-left: 0%;
        text-align: center;
    }
    .title,.portTitle{
        text-align: center;
    }
}
@media (min-width: 425px) and (max-width: 479px){
    

    .siteTitle,.portTitle{
        text-align: center;
    }
    
    .profile-pic{
        max-width: 10rem;
        margin: 10% 0% 4% 1%;
        text-align: center;
    }
    .title{
        text-align: center;
    }
    .headerButtons{
        margin-right: 10% !important;
    }

}
@media (min-width: 480px) and (max-width: 560px){
    .siteTitle{
        text-align: center;
    }
    .profile-pic{
        max-width: 11rem;
        margin: 6% 0% 4% 1%;
        text-align: center;
    }
    .title,.portTitle{
        
        text-align: center;
    }
    .headerButtons{
        margin-right: 15% !important;
    }
}
@media (min-width: 600px) and (max-width: 768px){
    .profile-pic{
        max-width: 13rem;
        margin: 6% 0% 4% 1%;
        text-align: center;
    }
    .headerBox{
        padding: 2% 1% 1% 1%;
    }
}
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes backgroundAnimation {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@keyframes rollText{
    from{
        opacity: 0;
        transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }
    to{
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}
@keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }
